.Body_Wrapper {
    z-index: 100;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 790px;
    background-color: #F5F5F5;
}